data
distributions.egg-info
gdalwmscache
notebooks/locally/sentinelhub-py
DATASET
*.ipynb_checkpoints
dconf
backup_datasets
*.pyc
#csv
sentinelhub-py
#*.csv
sentinelhub.egg-info
dist
*.json
__pycache__
mit-hst-dengue-83a25efbf2d7.json
**/*.pdf
*.pdf
**/*.DS_Store
*.DS_Store
**/*.tif
*.tif
**/*.tiff
*.tiff

**/*.txt
**/*.jpg
*.zip
**/*.zip/
*.jpg
**/*.pdf
*.pdf
**/*.zip
**/*.json
*.json
**/*.so
*.so
**/*.cu
*.cu
**/*.jsonl
*.jsonl
*.zip
#*.txt
**/*.pth.tar
*.pth.tar
**/*.tiff
*.tiff
**/*.pt
*.pt
#**/*.csv
#*.csv
**/*.pkl
*.pkl
**/*.pth
*.pth
**/*.err
*.err
**/*.out
*.out
**/*.pyc
*.pyc
**/*.tif
*.tif
**/*.pickle
*.pickle
*.mdb
**/*.mdb
**/*.png
*.png
**/*.pdf
*.pdf
**/*.tfrecords
*.tfrecord
**/.ipynb_checkpoints/
.ipynb_checkpoints/
